<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home Sweet Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="logo">
    <img src="src\assets\logotipo.jpg" alt="logotipo">
  </div>
  <div id="container">
    <strong class="capitalize">Welcome to Sweet Dreams!</strong>
    <p>Your Brazilian Bakery in Dublin</p>
    <p>To make a purchase, please creat an account or Login to our mobile app </p>
  </div>
</ion-content>
